@import "./variables";
body {
  font-family: 'Muli', sans-serif;
  position: relative;
}
/* ======= NAVBAR ======= */
.navbar {
  background-color: #141B5D !important;
  .navbar-brand {
    color: white !important ;
    font-size: 26px;
    font-weight: 700;
  }
}

.navbar-toggler {
  border-color: white !important;
}

.nav-link {
  color: white !important;
  font-size: 16px;
  font-weight: 600;
  &.signup-btn {
    background-color: $greenColor;
    border-color: $greenColor;
  }
}

